<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li class="hidden">
      <a href="/"></a>
    </li>
    <li>
      <%= link_to 'Services', services_path,  class: "page-scroll" %>
    </li>
    <li>
      <a class="page-scroll" href="#portfolio">Portfolio</a>
    </li>
    <li>
      <a class="page-scroll" href="#about">About</a>
    </li>
    <li>
      <a class="page-scroll" href="#team">Gallery</a>
    </li>
    <li>
      <%= link_to 'Contact Us', contact_path,  class: "page-scroll" %>
    </li>
  </ul>
</div>
